<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="contact contact-new">
        <h2>New</h2>
        <div class="pname">
            <div>nametest123</div>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <div class="change_string"></div>
        <div class="change_html"></div>
        <form class="contact-form" action="/contacts" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="">
            </div>
            <div>
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" value="">
            </div>
            <div>
                <button type="submit">Submit</button>
                <span class="btn_submit">test_submit</span>
            </div>
            <script>
                $(document).ready(function () {
                    function htmlencode(str) {
                        return str.replace(/[&<>"']/g, function ($0) {
                            return "&" + { "&": "amp", "<": "lt", ">": "gt", '"': "quot", "'": "#39" }[$0] + ";";
                        });
                    }
                    function escapeParsr(a) {
                        var b = '';

                        b = a.replace(/&lt;/g, '<');
                        b = b.replace(/&gt;/g, '>');
                        b = b.replace(/&nbsp;/g, ' ');
                        b = b.replace(/&amp;/g, '&');
                        b = b.replace(/&quot;/g, '"');

                        return b;
                    }
                        $('.btn_submit').click(function () {
                           var c = htmlencode($('.pname').html());
                           $('.change_string').append(c);
                           var d =  escapeParsr(c);
                            $('.change_html').append(d);
                           
                            // $('#name').val(String($('.pname').html()));
                            //$(".contact-form").submit();
                        });
                    })
            </script>
        </form>
    </div>
</body>

</html>